<div class="container d-flex">
  <div class="sidebar col-lg-2">
    <h5><%= link_to "人気投稿", popular_path, class:"link border-bottom" %></h5>
    <div class="search">
      <%= form_with url: search_path, method: :get do |f| %>
        <%= f.text_field :keyword, value: @keyword, style: "width:160px" %>
        <%= f.submit "検索", class: "btn btn-info" %>
      <% end %>
    </div>
    <div class="dropdown">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ジャンル別
      </button>
      <div class="dropdown-menu">
        <% @genres.each do |genre| %>
          <%= link_to genre_path(genre.id) do %>
            <p class="dropdown-item"><%= genre.name %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <h4>駅一覧</h4>
    <table class="table">
      <thead class="table-active">
        <tr>
          <th>駅</th>
        </tr>
      </thead>
      <tbody>
        <% @stations.each do |station| %>
        <tr>
          <td>
            <%= link_to station_path(station.id) do %>
              <%= station.name %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div>
    <p class = "notice"><%= notice %></p>
    <h3 class="title">投稿編集</h3>
    <div class="post_contents col-lg-9">
      <div>
        <%= image_tag @post.image, size: "700x500" %>
      </div>
      <%= form_with model: @post do |f| %>
        <%= f.label :genre_id, "ジャンル" %>
        <%= f.select :genre_id, @genres.map{ |genre| [genre.name, genre.id]}, { include_blank: '-- 選択してください --'} %>

        <%= f.label :station_id, "最寄駅" %>
        <%= f.select :station_id, @stations.map{ |station| [station.name, station.id]}, { include_blank: '-- 選択してください --'} %>
        <br>

        <%= f.label :message, "メッセージ" %><br>
        <%= f.text_area :message, size:"90x4" %>

        <%= f.submit "投稿", class:"btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>
</div>