<%= render "public/shared/sidebars", keyword: @keyword, genres: @genres, stations: @stations %>

  <div>
    <p class = "notice"><%= notice %></p>
    <h3 class="title">新規投稿</h3>
    <div class="post_contents col-lg-9">
      <div class="submin_errors">
      <% if @post.errors.any? %>
        <%= @post.errors.count %>件のエラーが発生しました
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      </div>
      <%= form_with model: @post do |f| %>
        <%= f.label :image, "画像" %>
        <%= f.file_field :image, accept: "image/*" %>
        <br>
        <%= f.label :genre_id, "ジャンル" %>
        <%= f.select :genre_id, @genres.map{ |genre| [genre.name, genre.id]}, { include_blank: '-- 選択してください --'} %>

        <%= f.label :station_id, "最寄駅" %>
        <%= f.select :station_id, @stations.map{ |station| [station.name, station.id]}, { include_blank: '-- 選択してください --'} %>
        <br>
        <%= f.label :message, "メッセージ" %><br>
        <%= f.text_area :message, size:"90x4"  %>

        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit "投稿", class:"btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>
</div>