<%= render "public/shared/sidebars", keyword: @keyword, genres: @genres, stations: @stations %>

  <div>
    <p class = "notice"><%= notice %></p>
    <div class="d-flex">
      <p class="station title"><%= "<" +  @post.station.name + "駅>"  %></p>
      <p class="genre_name"><%= @post.genre.name %></p>
    </div>
    <div class="show_post_contents">
      <div>
        <%= image_tag @post.image, size: "700x500" %>
      </div>
      <%= @post.message %><br>
      <%= @post.user.name %>
      <% if @post.favorited_by?(current_user) %>
        <p class="show_favorite">
          <%= link_to post_favorites_path(@post), method: :delete do %>
            ♥<%= @post.favorites.count %> いいね
          <% end %>
        </p>
      <% else %>
        <p class="show_favorite">
          <%= link_to post_favorites_path(@post), method: :post do %>
            ♡<%= @post.favorites.count %> いいね
          <% end %>
        </p>
      <% end %>
      <%= "コメント件数：" + @post.post_comments.count.to_s %>
      <% if @post.user.id == current_user.id %>
      <div class="float-right">
        <%= link_to "編集する", edit_post_path(@post.id), class:"btn btn-outline-success edit_btn" %>
        <%= link_to "削除する", post_path(@post.id), method: :delete, data: {confirm: "削除しますか？"}, class:"btn btn-outline-dark destroy_btn" %>
      </div>
      <% end %>
      <p class="comment">コメント</p>
      <table>
        <% @post.post_comments.each do |post_comment| %>
        <tr>
          <td class="col-lg-2"><%= post_comment.user.name %></td>
          <td><%= post_comment.comment %></td>
          <% if post_comment.user.id == current_user.id %>
            <td><%= link_to "削除する", post_post_comment_path(post_comment.id), method: :delete, data: {confirm: "削除しますか？"}, class:"btn" %></td>
          <% end %>
        </tr>
        <% end %>
      </table>
      <%= form_with model: [@post, @post_comment] do |f| %>
        <%= f.text_area :comment, rows: '1', placeholder: "コメントをここに", size: "65x2"  %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
  </div>
</div>