<div class="container d-flex">
  <div class="sidebar col-lg-2">
    <p><%= link_to "人気投稿", popular_path %></p>
    <h4>駅一覧</h4>
    <table class="table">
      <thead class="table-active">
        <tr>
          <th>駅</th>
        </tr>
      </thead>
      <tbody>
        <% @stations.each do |station| %>
        <tr>
          <td>
            <%= link_to station_path(station.id) do %>
              <%= station.name %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div>
    <%= image_tag @post.image, size: "700x500" %>
    <%= @post.station.name %>
    <%= @post.genre.name %>
    <%= @post.user.name %>
    <%= @post.message %>
    <%= "コメント件数：" + @post.post_comments.count.to_s %>
    <table>
      <% @post.post_comments.each do |post_comment| %>
      <tr>
        <td><%= post_comment.user.name %></td>
        <td><%= post_comment.comment %></td>
        <% if post_comment.user.id == current_user.id %>
          <td><%= link_to "削除する", post_post_comment_path(post_comment.id), method: :delete, class:"btn" %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
    <% if @post.favorited_by?(current_user) %>
      <p>
        <%= link_to post_favorites_path(@post), method: :delete do %>
          ♥<%= @post.favorites.count %> いいね
        <% end %>
      </p>
    <% else %>
      <p>
        <%= link_to post_favorites_path(@post), method: :post do %>
          ♡<%= @post.favorites.count %> いいね
        <% end %>
      </p>
    <% end %>
    <%= form_with model: [@post, @post_comment] do |f| %>
      <%= f.text_area :comment, rows: '1', placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
</div>