<div class="container sign_in">
  <h4>Adminログイン</h4>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table class="mx-auto" style="width:300px">
      <tr>
        <td>email</td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <td>password</td>
        <td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "Log in" %></td>
      </tr>
    </table>
    <% end %>
  <%= render "admin/shared/links" %>
</div>