<%= render "admin/shared/sidebars", keyword: @keyword, genres: @genres, stations: @stations, station: @station %>
  <main>
    <p class = "notice guest"><%= notice %></p>
    <h3 class="title">ジャンル一覧・追加</h3>
    <div class="admin_genre_form">
    <%= form_with model: @genre, url:admin_genres_path do |f| %>
      <%= f.label 'ジャンル名', class:"col-lg-4" %>
      <%= f.text_field :name, class:"col-lg-4" %>
      <%= f.submit 'Registration', class:"btn-outline-success col-lg-4" %>
    <% end %>
    </div>

    <table class="table col-lg-8">
      <thead class="table-active">
        <tr>
          <th>ジャンル</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @genres.each do |genres| %>
        <tr>
          <td><%= genres.name %></td>
          <td><%= link_to "edit", edit_admin_genre_path(genres.id), class:"btn btn-outline-success" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </main>
</div>