<div class="container d-flex">
  <div class="sidebar col-lg-2">
    <h5><%= link_to "人気投稿", admin_populars_popular_path, class:"link border-bottom" %></h5>
    <div class="search">
      <%= form_with url: admin_word_searchs_word_search_path, method: :get do |f| %>
        <%= f.text_field :keyword, value: @keyword, style: "width:160px" %>
        <%= f.submit "検索", class: "btn btn-info" %>
      <% end %>
    </div>
    <div class="dropdown">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ジャンル別
      </button>
      <div class="dropdown-menu">
        <% @genres.each do |genre| %>
          <%= link_to admin_genre_path(genre.id) do %>
            <p class="dropdown-item"><%= genre.name %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <h5>駅一覧・追加</h5>
    <div class="station_form">
      <%= form_with model: @station, url:admin_stations_path do |f| %>
        <%= f.text_field :name, class:"col-lg-10" %><br>
        <%= f.submit '新規登録', class:"btn-outline-success", "data-confirm" => "本当に削除しますか？" %>
      <% end %>
    </div>
    <table class="table">
      <tbody>
        <% @stations.each do |station| %>
        <tr>
          <td>
            <%= link_to admin_station_path(station.id) do %>
              <p class="station_name"><%= station.name %></p>
            <% end %>
          </td>
          <td>
            <%= link_to edit_admin_station_path(station.id), class:"btn btn-outline-success" do %>
              <p class="station_name">edit</p>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div>
    <p class = "notice"><%= notice %></p>
    <h3 class="title"><%= "”" + @genre.name + "”" %></h3>
    <% @posts.each do |post| %>
    <div class="d-flex post">
      <div>
        <%= link_to admin_post_path(post.id) do %>
          <%= image_tag post.image, size: "400x250" %>
        <% end %>
      </div>
      <div class="post_contents">
        <p class="station"><%= "<" + post.station.name + "駅>" %></p>
        <p class="popular_message"><%= post.message %></p>
        <%= post.user.name %>
        <%= "♥" + post.favorites.count.to_s %>
        <%= "コメント件数：" + post.post_comments.count.to_s %>
      </div>
    </div>
    <% end %>
  </div>
</div>