<%= render "public/shared/sidebars", keyword: @keyword, genres: @genres, stations: @stations %>

  <main>
    <p class = "notice"><%= notice %></p>
    <h3 class="title"><%= "”" + @genre.name + "”" %></h3>
    <% @posts.each do |post| %>
    <div class="d-flex post">
      <div>
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.image, size: "400x250" %>
        <% end %>
      </div>
      <div class="post_contents">
        <p class="station"><%= "<" + post.station.name + "駅>" %></p>
        <p class="popular_message"><%= post.message %></p>
        <%= post.user.name %>
        <%= "♥" + post.favorites.count.to_s %>
        <%= "コメント件数：" + post.post_comments.count.to_s %>
      </div>
    </div>
    <% end %>
  </main>
</div>