<%= render "admin/shared/sidebars", keyword: @keyword, genres: @genres, stations: @stations, station: @station %>
  <main>
    <p class = "notice"><%= notice %></p>
    <div class="d-flex">
      <p class="station title"><%= "<" +  @post.station.name + "駅>"  %></p>
      <p class="genre_name"><%= @post.genre.name %></p>
    </div>
    <div class="show_post_contents">
      <div>
        <%= image_tag @post.image, size: "700x500" %>
      </div>
      <%= @post.message %><br>
      <%= @post.user.name %>
      <p class="show_favorite">
        ♥<%= @post.favorites.count %> いいね
      </p>
      <%= "コメント件数：" + @post.post_comments.count.to_s %>
      <div class="float-right">
        <%= link_to "削除する", post_path(@post.id), method: :delete, data: {confirm: "削除しますか？"}, class:"btn btn-outline-dark destroy_btn" %>
      </div>
      <p class="comment">コメント</p>
      <table>
        <% @post.post_comments.each do |post_comment| %>
        <tr>
          <td class="col-lg-2"><%= post_comment.user.name %></td>
          <td><%= post_comment.comment %></td>
          <td><%= link_to "削除する", admin_post_post_comment_path(post_comment.id), method: :delete, data: {confirm: "削除しますか？"}, class:"btn" %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </main>
</div>