<%= render "admin/shared/sidebars", keyword: @keyword, genres: @genres, stations: @stations, station: @station %>
  <main>
    <p class = "notice guest"><%= notice %></p>
    <h3 class="title">人気投稿</h3>
    <% @favorite_top4.each do |favorite| %>
    <div class="d-flex post">
      <div>
        <%= link_to admin_post_path(favorite.id) do %>
          <%= image_tag favorite.image, size: "400x250" %>
        <% end %>
      </div>
      <div class="post_contents">
        <p class="station"><%= "<" + favorite.station.name + "駅>" %></p>
        <%= favorite.genre.name %><br>
        <p class="popular_message"><%= favorite.message %></p>
        <%= favorite.user.name %>
        <%= "♥" + favorite.favorites.count.to_s %>
        <%= "コメント件数：" + favorite.post_comments.count.to_s %>
      </div>
    </div>
    <% end %>
  </main>
</div>