<div class="container sign_up">
  <p class = "notice guest"><%= notice %></p>
  <h4 class="">新規登録</h4>

  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user' do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <table class="mx-auto">
      <tr>
        <td>name</td>
        <td><%= f.email_field :name, autofocus: true, autocomplete: "name" %></td>
      </tr>
      <tr>
        <td>email</td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <td>password(6文字以上)</td>
        <td><%= f.password_field :password, autocomplete: "new-password" %></td>
      </tr>
      <tr>
        <td>password(再入力)</td>
        <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "Sign up" %></td>
      </tr>
    </table>
  <% end %>
</div>