<%= render "admin/shared/sidebars", keyword: @keyword, genres: @genres, stations: @stations, station: @station %>
  <main class="col-lg-10">
    <p class = "notice guest"><%= notice %></p>
    <h3 class="title">ユーザー一覧</h3>
    <table class="table">
      <thead class="table-active">
        <tr>
          <th>name</th>
          <th>email</th>
          <th>ステータス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
        <% if user.is_deleted == false %>
          <td>有効</td>
        <% else %>
          <td>退会</td>
        <% end %>
          <td><%= link_to "編集", edit_admin_user_path(user.id) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </main>
</div>