<div class="container d-flex">
  <div class="sidebar col-lg-2">
    <h5><%= link_to "人気投稿", popular_path, class:"link border-bottom" %></h5>
    <div class="search">
      <%= form_with url: search_path, method: :get do |f| %>
        <%= f.text_field :keyword, value: @keyword, style: "width:160px" %>
        <%= f.submit "検索", class: "btn btn-info" %>
      <% end %>
    </div>
    <div class="dropdown">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ジャンル別
      </button>
      <div class="dropdown-menu">
        <% @genres.each do |genre| %>
          <%= link_to genre_path(genre.id) do %>
            <p class="dropdown-item"><%= genre.name %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <h4>駅一覧</h4>
    <table class="table">
      <thead class="table-active">
        <tr>
          <th>駅</th>
        </tr>
      </thead>
      <tbody>
        <% @stations.each do |station| %>
        <tr>
          <td>
            <%= link_to station_path(station.id) do %>
              <%= station.name %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div>
    <p class = "notice"><%= notice %></p>
    <h3 class="title">会員情報編集</h3>
    <%= form_with model: @user, url: users_path, method: :patch do |f| %>
    <table class="user_edit" style="width:400px;height:150px">
      <tr>
        <td><%= f.label :name, "名前" %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><%= f.label :email, "メールアドレス" %></td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit '編集内容を保存', class:"btn btn-outline-success" %></td>
        <td></td>
      </tr>
    </table>
    <% end %>
  </div>
</div>