<!DOCTYPE html>
<html>
  <head>
    <title>TozaisenClub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <% if admin_signed_in? %>
          <div>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </div>
          <div>
            <%= link_to "駅一覧", admin_stations_path %>
          </div>
          <div>
            <%= link_to "ジャンル一覧", admin_genres_path %>
          </div>
          <div>
            <%= link_to "ユーザー一覧", admin_users_path %>
          </div>
        <% elsif user_signed_in? %>
          <div>
            <%= link_to "マイページ", users_current_user_path %>
          </div>
          <div>
            <%= link_to "投稿する", new_post_path %>
          </div>
          <div>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </div>
        <% else %>
          <div class="p-2 align-self-center btn btn-outline-secondary">
            <%= link_to "新規登録", new_user_registration_path %>
          </div>
          <div class="p-2 align-self-center btn btn-outline-secondary">
            <%= link_to "ログイン", new_user_session_path %>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>