<!DOCTYPE html>
<html>
  <head>
    <title>TozaisenClub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="border-bottom d-flex bd-highlight" style="width:100%">
      <div class="logo col-lg-4">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', size: "150x150" %>
        <% end %>
      </div>
      <div class="col-lg-4">
        <h3 class="text-center">東西線CLUB</h3>
      </div>
      <div class="header_nemu col-lg-4">
        <% if admin_signed_in? %>
      <div class="d-flex justify-content-center menu">
          <div class="btn btn-outline-secondary rounded-pill new_user_registration">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"link" %>
          </div>
        <div>
          <div>
            <%= link_to "ジャンル一覧", admin_genres_path, class:"link" %>
          </div>
          <div>
            <%= link_to "ユーザー一覧", admin_users_path, class:"link" %>
          </div>
        </div>
      </div>
        <% elsif user_signed_in? && current_user == User.guest %>
        <div class="menu">
          <div class="btn btn-outline-secondary rounded-pill">
            <%= link_to "マイページ", users_current_user_path, class:"link" %>
          </div>
          <div class="btn btn-outline-secondary rounded-pill">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"link" %>
          </div>
        </div>
        <% elsif user_signed_in? %>
        <div class="menu">
          <div class="btn btn-outline-secondary rounded-pill">
            <%= link_to "マイページ", users_current_user_path, class:"link" %>
          </div>
          <div class="btn btn-outline-secondary rounded-pill">
            <%= link_to "投稿する", new_post_path, class:"link" %>
          </div>
          <div class="btn btn-outline-secondary rounded-pill">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"link" %>
          </div>
        </div>
        <% else %>
        <div class="menu row justify-content-center">
          <div class="btn btn-outline-secondary rounded-pill new_user_registration">
            <%= link_to "新規登録", new_user_registration_path, class:"link" %>
          </div>
          <div class="btn btn-outline-secondary rounded-pill">
            <%= link_to "ログイン", new_user_session_path, class:"link" %>
          </div>
        </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <% if user_signed_in? %>
    <footer class="border-top">
      <div class="row justify-content-end">
        <ul>
          <li><a href="#">お問い合わせ</a></li>
          <li><a href="#">利用規約</a></li>
          <li><a href="#">プライバシーポリシー</a></li>
        </ul>
      </div>
      <p class="text-center">© 2022 HayahikoShiina</p>
    </footer>
    <% end %>
  </body>
</html>